.container-fluid {
    padding-left: 20px !important;
    padding-right: 20px !important;

    @media (min-width: 992px) {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    @media (min-width: 1580px) {
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
}
