// navbar-general
.navbar-general {
    padding-top: 15px;
    padding-bottom: 15px;

    .logo-contaier {
        min-width: 40px !important;
        height: 40px;
        overflow: hidden;
        border-radius: 4px;

        img {
            width: 40px;
            height: 40px;
        }
    }

    .items-container {
        ul {
            padding: 0;
            margin: 0;

            li {
                float: left;
                list-style: none;
                margin-right: 5px;
                padding-top: 7px;

                a {
                    text-decoration: none;
                    padding: 0px 15px;
                    font-size: 15px;
                    color: #555;
                    transition: 0.3s all;

                    &:hover {
                        color: #000;
                    }
                }

                .btn {
                    padding: 0px 15px;
                    font-size: 15px;
                    color: #555;
                    transition: 0.3s all;
                    margin-bottom: 0;

                    &:hover {
                        color: #000;
                    }
                }

                // Dropdown
                .dropdown {
                    .dropdown-toggle {
                        padding: 0;
                        box-shadow: none;
                        border: 0 !important;
                        background-color: none !important;

                        &:focus {
                            box-shadow: none !important;
                        }

                        &:active {
                            background: none;
                        }

                        &:after {
                            display: none;
                        }
                    }

                    .dropdown-menu {
                        border: 0;
                        overflow: hidden;
                        min-width: 250px;
                        border-radius: 4px;
                        margin-top: 10px;
                        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                        .dropdown-item {
                            color: #555;
                            font-size: 14px;
                            padding: 6px 15px;
                            transition: 0.3s all;
                            text-transform: capitalize;

                            &:hover {
                                color: #000;
                                background: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
