.navbar-general {
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 20px 0px;
}

.navbar-general .logo-contaier {
    min-width: 40px !important;
    height: 40px;
    overflow: hidden;
    border-radius: 4px;
}

.navbar-general .logo-contaier img {
    width: 40px;
    height: 40px;
}

.navbar-general .items-container ul {
    padding: 0;
    margin: 0;
}

.navbar-general .items-container ul li {
    float: left;
    list-style: none;
    margin-right: 5px;
    padding-top: 7px;
}

.navbar-general .items-container ul li a {
    text-decoration: none;
    padding: 0px 15px;
    font-size: 15px;
    color: #555;
    transition: 0.3s all;
}

.navbar-general .items-container ul li a:hover {
    color: #000;
}

.navbar-general .items-container ul li .btn {
    padding: 0px 15px;
    font-size: 15px;
    color: #555;
    transition: 0.3s all;
    margin-bottom: 0;
}

.navbar-general .items-container ul li .btn:hover {
    color: #000;
}

.navbar-general .items-container ul li .dropdown .dropdown-toggle {
    padding: 0;
    box-shadow: none;
    border: 0 !important;
    background-color: none !important;
}

.navbar-general .items-container ul li .dropdown .dropdown-toggle:focus {
    box-shadow: none !important;
}

.navbar-general .items-container ul li .dropdown .dropdown-toggle:active {
    background: none;
}

.navbar-general .items-container ul li .dropdown .dropdown-toggle:after {
    display: none;
}

.navbar-general .items-container ul li .dropdown .dropdown-menu {
    border: 0;
    overflow: hidden;
    min-width: 250px;
    border-radius: 4px;
    margin-top: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navbar-general .items-container ul li .dropdown .dropdown-menu .dropdown-item {
    color: #555;
    font-size: 14px;
    padding: 6px 15px;
    transition: 0.3s all;
    text-transform: capitalize;
}

.navbar-general .items-container ul li .dropdown .dropdown-menu .dropdown-item:hover {
    color: #000;
    background: none;
}

.navbar-general .profile-dropdown-btn-container .dropdown-toggle {
    padding: 7px 10px;
    box-shadow: none;
    border: 0 !important;
    border-radius: 25px !important;
    color: #6c757d !important;
    background: #ececec !important;
}

.navbar-general .profile-dropdown-btn-container .dropdown-toggle:hover {
    color: #212529 !important;
    background: #e9ecef !important;
}

.navbar-general .profile-dropdown-btn-container .dropdown-toggle:focus {
    box-shadow: none !important;
}

.navbar-general .profile-dropdown-btn-container .dropdown-toggle:active {
    background: none;
}

.navbar-general .profile-dropdown-btn-container .dropdown-toggle:after {
    display: none;
}

.navbar-general .profile-dropdown-btn-container .dropdown-menu {
    border: 0;
    overflow: hidden;
    min-width: 180px;
    border-radius: 4px;
    margin-top: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navbar-general .profile-dropdown-btn-container .dropdown-menu .dropdown-item {
    color: #555;
    font-size: 14px;
    padding: 6px 15px;
    transition: 0.3s all;
    text-transform: capitalize;
}

.navbar-general .profile-dropdown-btn-container .dropdown-menu .dropdown-item:hover {
    color: #000;
    background: none;
}

.account-navbar-container .nav {
    padding: 10px 0px;
    border-bottom: 1px solid #dfdfdf c9;
}

.account-navbar-container .nav .nav-item a {
    color: #555;
    font-size: 14px;
    transition: 0.3s all;
    text-decoration: none;
    padding: 12px 0px;
    margin-right: 30px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.account-navbar-container .nav .nav-item a:hover {
    color: #2962ff;
}

.account-navbar-container .nav .nav-item .is-active {
    color: #2962ff !important;
    border-bottom: 2px solid #2962ff !important;
}