.multi-file-uploader-container {
    border: 1px solid #4e4e4e73;
    border-style: dotted;
    border-radius: 3px;
    background: #dfdfdf27;
}

// custom-upload-button-container
.custom-upload-button-container {
    width: 150px;
    height: 45px;
    overflow: hidden;
    position: relative;
    border-radius: 25px;
    color: #198754 !important;
    background: #19875417 !important;
    font-size: 14px;
    padding: 12px 0px;

    .upload {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        opacity: 0;
        width: 100%;
        cursor: pointer;
    }
}
