.footer-container {
    padding-top: 30px;
    padding-bottom: 30px;

    @media (min-width: 768px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    @media (min-width: 1580px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
