// Large search
.search-container-lg {
    .form-group {
        position: relative;

        .form-control {
            font-size: 14px !important;
            min-height: 55px !important;
            padding-left: 45px;
            padding-right: 25px;
        }

        .search-icon {
            position: absolute;
            top: 16px;
            left: 15px;
        }
    }
}

// Small search
.search-container-sm {
    .form-group {
        position: relative;

        .form-control {
            font-size: 13px !important;
            min-height: 40px !important;
            min-width: 150px !important;
            padding-left: 30px;
            padding-right: 25px;
            border-radius: 25px;

            @media (min-width: 576px) {
                min-width: 250px !important;
            }
        }

        .search-icon {
            position: absolute;
            top: 12px;
            left: 10px;
        }
    }
}
