.profile-banner-container {
    width: 100%;
    height: 350px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.089);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    .banner-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.418);
        backdrop-filter: blur(10px);
    }
}
