/* Flex Box */

.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.flex-column {
    -ms-flex-direction: column !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    flex-direction: column !important;
}

.font-13 {
    font-size: 13px !important;
}

.font-14 {
    font-size: 14px !important;
}

.font-15 {
    font-size: 15px !important;
}

.font-16 {
    font-size: 16px !important;
}

.px-20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.py-20 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.px-30 {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.py-30 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

// Form
form {
    .form-group {
        small {
            color: #555;
            font-size: 12px;
            margin-bottom: 3px;
            margin-left: 3px;
        }

        .form-control {
            width: 100%;
            color: #000;
            font-size: 13px;
            min-height: 45px;
            background: #e9e8e8;
            border: 1px solid #e9e8e8;
        }

        .form-control:focus {
            background: #fff;
            border: 1px solid #e9e8e8;
        }

        .error {
            border: 1px solid red !important;
        }
    }
}
